<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>五子棋</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <h1>五子棋</h1>
    <div id="game-board" class="board"></div>
    <div id="control-panel">
        <button id="first-move-button">先手</button>
        <button id="second-move-button">后手</button>
        <button id="swap-button">换手</button>
        <button id="reset-button">重置</button>
    </div>

    <script src="./static/lib/script.js"></script>
</body>
</html>